.card {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s ease-in-out;
  margin: 20px auto;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.overflow img {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  height: 200px;
}
.card-body {
  margin: 0.5rem 1rem 1rem 1rem;
}
p,
h4 {
  text-align: center;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}
h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.card-title {
  margin-bottom: 0.5rem;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  margin: 5px auto;
  text-transform: uppercase;
  color: #189cfc;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
}
.btn:hover {
  background: rgba(27, 156, 252, 0.1);
  transform: scale(1.1);
}
.btn i {
  margin-left: 20px;
}
