.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  height: 100vh;
  padding: 10px;
}
.appointment-container {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 25px 25px;
  border-radius: 5px;
}
.fa.fa-exclamation {
  color: #b22222;
}
.fa.fa-phone {
  transform: rotate(90deg);
}
/* Booking History CSS */
.container {
  display: flex;
  max-width: 100%;
  max-height: 1000px;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 0;
}
.feed {
  margin: 10px 0px;
  width: 400px;
  height: 400px;
  overflow-y: scroll;
}
.feed div h3 {
  font-weight: 600;
}
.feed div p {
  text-align: left;
}
.feed::-webkit-scrollbar {
  width: 0;
}
.right {
  margin-left: 5px;
  border-left: 1px dashed black;
  padding-left: 5px;
  width: 50%;
}
.left {
  margin-right: 5px;
  border-right: 1px dashed black;
  padding-right: 5px;
  width: 50%;
}
.right .table {
  overflow-x: scroll;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: gray;
}
::-webkit-scrollbar-thumb:horizontal {
  background: #000;
  border-radius: 10px;
}
.left form .user-details,
.right form .user-details {
  max-height: 450px;
}
.left form .user-details .input-box,
.right form .user-details .input-box {
  margin-bottom: 15px;
  width: 100%;
}
.right table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}
.right table td,
.right table th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}
/* End of Booking History CSS */
.input-group {
  width: 100%;
  height: 45px;
  position: relative;
  overflow: hidden;
}
.input-group i {
  position: absolute;
  top: 0;
  display: flex;
  height: 45px;
  width: 40px;
  justify-content: center;
  color: #000;
  align-items: center;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.input-group .left-icon {
  left: 0;
}
.input-group .right-icon {
  right: 0;
}
.input-group input:focus + i {
  color: #fff;
  background-color: #9b59b6;
  border-radius: 5px 0px 0px 5px;
}
/* Login CSS */
.left.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left.login img {
  width: 100%;
}
.left.login h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}
.right form .user-details .time-details {
  width: 100%;
}
.right form .user-details .input-box .error {
  color: #b22222;
  text-align: left;
  padding-left: 10px;
}
.right form p {
  margin-top: 10px;
}
.right form .user-details .time-details .time-group label i {
  font-size: 1.5rem;
}
.appointment-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.appointment-container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 30px;
  background: #c922c9;
}
.appointment-container form .user-details {
  margin: 20px 0 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(50% - 20px);
}
.user-details .input-box input,
.user-details .input-box select,
.input-group input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 45px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box select:focus,
.input-group input:focus {
  border-color: #9b59b6;
}
form .time-details .time-title {
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}
form .time-details .time-group {
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: space-between;
}
form .time-details .time-group label {
  display: flex;
  align-items: center;
}
form .time-details .time-group input[type="radio"] {
  height: 18px;
  width: 18px;
  margin: 0 5px;
}
form .input-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
form .input-check input[type="checkbox"] {
  height: 18px;
  width: 18px;
  margin-right: 20px;
}
form .button,
.login .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
form .button input,
.login .button input {
  height: 100%;
  font-size: 16px;
  width: 35%;
  margin: 5px 10px 0px;
  outline: none;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
form .button input:hover,
.login .button input:hover {
  opacity: 0.4;
  border: 2px solid black;
}
form .button input[type="submit"],
.login .button input[type="submit"] {
  background: rgb(151, 204, 224);
}
form .button input[type="reset"] {
  background: rgb(0, 110, 255);
}
form .button input[type="update"] {
  background: rgb(87, 39, 219);
}
form .button input[type="delete"] {
  background: rgb(16, 3, 90);
}
@media screen and (max-width: 584px) {
  .appointment-container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .time-details .time-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  form .time-details .time-group label {
    justify-content: end;
  }
}
@media screen and (max-width: 700px) {
  .right {
    border: none;
    margin: 0;
    margin-top: 10px;
    border-top: 1px dashed black;
    padding-top: 5px;
  }
  .left {
    border: none;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
  }
  .right form .time-details div {
    display: flex;
    flex-direction: row;
  }
  .container {
    flex-direction: column;
  }
  .right,
  .left {
    width: 100%;
  }
}
